*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 60.5%;
}
@media screen and (max-width: 100em) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 76.875em) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 50em) {
  html {
    font-size: 48%;
  }
}
@media screen and (max-width: 25em) {
  html {
    font-size: 46%;
  }
}

@media screen and (min-width: 63.75em) {
  .container {
    display: grid;
    background-color: rgba(255, 255, 255, 0.103);
    background-size: cover;
    grid-template-columns: [full-start] auto [center-start] repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) [center-end] auto [full-end];
    grid-template-rows: auto min-content min-content 38vw min-content min-content min-content repeat(6, min-content);
  }
}
@media screen and (max-width: 1200px) {
  .container {
    grid-template-rows: 12rem auto min-content min-content 38 min-content min-content min-content min-content repeat(6, min-content);
  }
}

.heading-5, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}
.heading-1--dark {
  color: #ac250d;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--dark {
  color: #000;
}
.heading-2--light {
  color: #fff;
}
.heading-2--red {
  color: #ac250d;
}
.heading-2--yellow {
  color: #f3fc1f;
}

.heading-3 {
  font-size: 2.3rem;
  color: #be1e2d;
  text-transform: uppercase;
}
.heading-3--light {
  color: #f9f7f6;
}
.heading-3--dark {
  color: #008fd8;
}
.heading-3--light {
  color: #fff;
}

.heading-4 {
  font-size: 2.8rem;
}
.heading-4--black {
  color: #060606;
}

.heading-5 {
  font-size: 1.4rem;
  font-weight: 400;
}
.heading-5--light {
  color: #f9f7f6;
}
.heading-5--dark {
  color: #ac250d;
}
.heading-5--black {
  color: #000;
}

.btn {
  background-color: #be1e2d;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #000;
}

.gmap__btn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.gmap__btn:hover {
  background-color: #e9f00dbd;
  color: #000;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

header {
  grid-column: 1/-1;
  background: white;
  height: 8rem;
  display: flex;
  position: static;
  top: 0;
  left: 0;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header__logo a img {
  height: 10rem;
  margin: 0;
}
@media screen and (max-width: 700px) {
  .header__logo a img {
    height: 8rem;
  }
}

.header__toggle {
  font-size: 4rem;
  color: black;
  cursor: pointer;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #be1e2d;
    opacity: 96%;
    color: white;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
    z-index: 999;
    transition: 0.5s;
  }

  .nav__content {
    height: 100%;
    grid-template-columns: max-content 1fr max-content;
    row-gap: 2rem;
  }

  .nav__close {
    position: absolute;
    right: 2rem;
    font-size: 2.5rem;
    padding: 0.25rem;
    background-color: white;
    color: black;
    border-radius: 50%;
  }

  .nav__img a {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 15rem;
  }

  .nav__img img {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 12rem;
  }

  .nav__name {
    display: flex;
    color: white;
    margin: auto;
    align-self: center;
    justify-content: center;
    padding-top: 5rem;
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-decoration: none;
    list-style: none;
  }
}
@media screen and (max-width: 1000px) and (max-width: 680px) {
  .nav__name {
    font-size: 2.5rem;
    letter-spacing: 0.5px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 530px) {
  .nav__name {
    font-size: 2.2rem;
    letter-spacing: 0.5px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 470px) {
  .nav__name {
    font-size: 2rem;
    letter-spacing: 0.5px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 420px) {
  .nav__name {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 360px) {
  .nav__name {
    font-size: 1.6rem;
    letter-spacing: 0.1px;
  }
}
@media screen and (max-width: 1000px) {
  .nav__menu {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 0rem;
  }
}
@media screen and (max-width: 1000px) {
  .nav__item {
    margin: 2rem 1rem;
    text-decoration: none;
    list-style: none;
    font-style: bold;
    text-align: center;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1000px) {
  .nav__link {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 3rem;
    margin-left: 0rem;
    text-align: center;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 450px) {
  .nav__link {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .nav__social {
    padding-top: 0.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .nav__social-icon {
    font-size: 1.2rem;
    color: black;
    background-color: white;
    z-index: 999;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .nav__social-icon:hover {
    color: white;
  }
}
@media screen and (max-width: 1000px) {
  .show {
    left: 0;
  }
}
@media screen and (min-width: 1001px) {
  body {
    margin: 0;
  }

  .header {
    grid-column: 1/-1;
    position: sticky;
    top: 0;
    height: 10rem;
    padding: 0 1.5rem;
  }

  .header__toggle {
    display: none;
  }

  .nav__name {
    display: none;
  }

  .nav__close {
    display: none;
  }

  .nav {
    width: 100%;
  }

  .nav__content {
    display: flex;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .nav__perfil {
    position: absolute;
    align-items: center;
    right: 2%;
    top: 0.5rem;
  }

  .nav__img a {
    margin-right: 0.5rem;
    margin-bottom: 0;
    align-items: center;
  }

  .nav__img img {
    width: 8rem;
  }

  .nav__menu ul {
    display: flex;
    padding-left: 15rem;
    margin-bottom: 1.5rem;
  }

  .nav__menu li {
    display: flex;
    padding: 10px;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  .nav-list {
    display: flex;
    width: 100%;
  }

  .nav__item {
    text-decoration: none;
    list-style: none;
  }

  .nav__link {
    position: relative;
    color: black;
    text-decoration: none;
    list-style: none;
  }

  .nav__link:hover {
    color: rgba(0, 0, 0, 0.599);
  }

  .nav__link:after {
    content: "";
    position: absolute;
    background-color: #be1e2d;
    height: 3px;
    width: 0;
    left: 0;
    top: -4px;
    transition: 0.3s;
  }

  .nav__link:hover:after {
    width: 100%;
  }
}
.about-map {
  height: 100%;
  grid-column: full-start/full-end;
  background-image: url(../img/texture-sm.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.about-map .profile-pic {
  display: flex;
  height: 15rem;
  margin: auto;
  margin-top: -2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  .about-map .profile-pic {
    margin-top: -3rem;
    padding: 10px;
  }
}
.about-map .heading {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-family: "Nunito", sans-serif;
  letter-spacing: 3.5px;
  margin: auto;
  position: relative;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .about-map .heading {
    margin-top: -3rem;
    padding: 5px;
  }
}
.about-map .heading::after {
  content: "";
  width: 6rem;
  height: 0.5rem;
  background-color: #be1e2d;
  position: absolute;
  margin-top: 5rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .about-map .heading::after {
    margin-top: 5rem;
    padding: 1px;
  }
}
.about-map .card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.about-map .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.about-map .card-map {
  display: none;
}
.about-map .owner-title {
  margin: auto;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .about-map .owner-title {
    margin-bottom: 0rem;
  }
}
.about-map .about-text {
  display: flex;
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #222323;
  font-size: 1.8rem;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1019px) {
  .about-map .about-text {
    width: 90%;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .about-map .about-text {
    width: 85%;
    padding: 2px;
    font-size: 2rem;
    text-align: left;
  }
}
.about-map .about-info {
  list-style: none;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}
.about-map .about-info i {
  font-size: 2.5rem;
  display: flex;
  margin-right: 2rem;
}
.about-map .open {
  display: flex;
  margin-top: 20px;
  font-size: 1.5em;
}
.about-map .open-text {
  font-family: "Nunito", sans-serif;
}
.about-map .closed {
  display: flex;
  margin: 0;
  font-size: 1.4em;
  margin-left: 1rem;
}
.about-map .closed-text {
  font-weight: 600;
  font-style: italic;
}
.about-map .phone {
  display: flex;
  margin: 10px 0;
  font-size: 1.5em;
}
.about-map .phone-text {
  display: flex;
  font-weight: 600;
}
.about-map .email {
  display: flex;
  margin: 10px 0;
  font-size: 1.5em;
}
.about-map .email-text {
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
@media screen and (min-width: 63.75em) {
  .about-map {
    display: grid;
    grid-column: col-start 7/full-end;
  }
  .about-map .map {
    display: none;
  }
  .about-map .profile-pic {
    display: flex;
    height: 10rem;
    margin: auto;
    margin-top: -3rem;
  }
  .about-map .heading {
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 3.5px;
    margin: auto;
    position: relative;
  }
  .about-map .heading::after {
    content: "";
    width: 6rem;
    height: 0.3rem;
    background-color: #c21f2f;
    position: absolute;
    margin-top: 3.6rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
  }
  .about-map .card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .about-map .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 0rem;
  }
  .about-map .card-map {
    display: unset;
    width: 100%;
    margin: 0;
    cursor: pointer;
  }
  .about-map .owner-title {
    margin: auto;
    font-size: 1.4em;
    font-weight: 300;
    margin-top: 5px;
  }
  .about-map .about-text {
    display: flex;
    margin: auto;
    text-align: left;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #222323;
    font-size: 1.8rem;
    width: 85%;
    margin-top: 15px;
  }
}
@media screen and (min-width: 63.75em) and (max-width: 1370px) {
  .about-map .about-text {
    margin-top: 0px;
  }
}
@media screen and (min-width: 63.75em) {
  .about-map .about-info {
    list-style: none;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 63.75em) and (max-width: 1370px) {
  .about-map .about-info {
    margin-top: 0;
  }
}
@media screen and (min-width: 63.75em) and (max-width: 1099px) {
  .about-map .about-info {
    margin-bottom: -12px;
  }
}
@media screen and (min-width: 63.75em) {
  .about-map .about-info i {
    font-size: 2rem;
    display: flex;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 63.75em) {
  .about-map .open {
    display: flex;
    margin-top: 10px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 63.75em) {
  .about-map .open-text {
    font-family: "Nunito", sans-serif;
  }
}
@media screen and (min-width: 63.75em) {
  .about-map .closed {
    display: flex;
    margin: 0;
    margin-left: 2rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 63.75em) {
  .about-map .closed-text {
    font-weight: 600;
    font-style: italic;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 63.75em) {
  .about-map .phone {
    display: flex;
    margin: 5px 0;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 63.75em) {
  .about-map .email {
    display: flex;
    margin: 5px 0;
  }
}
@media screen and (min-width: 63.75em) {
  .about-map .email-text {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
  }
}

.services {
  display: grid;
  grid-column: center-start/center-end;
  margin: 6rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 3rem;
  align-items: center;
}
@media screen and (min-width: 1520px) {
  .services {
    display: grid;
    grid-column: center-start/center-end;
    margin: 10rem 0rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 4rem;
    align-items: start;
  }
}

.service {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
}
.service__icon {
  color: #be1e2d;
  font-size: 2.8rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.044);
}
.service__text {
  font-size: 2rem;
  color: #54483a;
}

.stars {
  background-image: url(../img/repair-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 99%;
  padding-bottom: 25px;
}
@media screen and (max-width: 800px) {
  .stars {
    padding-top: 10px;
  }
}
@media screen and (min-width: 63.75em) {
  .stars {
    grid-column: full-start/full-end;
    background-image: url(../img/repair-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 99%;
  }
  .stars__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.about-us {
  display: grid;
  grid-column: full-start/full-end;
  border-radius: 0;
}
@media screen and (min-width: 63.75em) {
  .about-us {
    grid-column: full-start/col-end 6;
  }
}
@media screen and (max-width: 1500px) {
  .about-us {
    grid-column: full-start/col-end 6;
  }
}
.about-us .about-us__slider {
  position: relative;
  background-color: #e6e6ebc8;
  width: 100%;
  height: 75rem;
  overflow: hidden;
  border-radius: 0px;
}
@media screen and (max-width: 700px) {
  .about-us .about-us__slider {
    height: 65rem;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .about-us .about-us__slider {
    height: 60rem;
    width: 100%;
  }
}
.about-us .about-us__slider .about-us__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 100%);
}
.about-us .about-us__slider .about-us__slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}
.about-us .about-us__slider .about-us__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us .about-us__slider .about-us__slide .about-us__info {
  position: absolute;
  color: #222;
  background-color: #222222;
  width: 100%;
  padding: 20px;
  border: solid 0.5px #aaa, 0.5;
  box-shadow: 0 5px 25px rga(1 1 1/8%);
}
@media screen and (max-width: 600px) {
  .about-us .about-us__slider .about-us__slide .about-us__info {
    padding: 15px;
    opacity: 96%;
  }
}
@media screen and (max-width: 450px) {
  .about-us .about-us__slider .about-us__slide .about-us__info {
    padding: 6px;
    opacity: 96%;
  }
}
.about-us .about-us__slider .about-us__slide .about-us__info i {
  font-size: 2.8rem;
  display: flex;
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: #be1e2d;
}
@media screen and (max-width: 600px) {
  .about-us .about-us__slider .about-us__slide .about-us__info i {
    margin-left: 0rem;
    font-size: 2.5em;
  }
}
.about-us .about-us__slider .about-us__slide .about-us__info p {
  font-size: 2.3rem;
  letter-spacing: 0.4px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  position: relative;
  justify-self: center;
  margin-left: 6rem;
  color: white;
}
@media screen and (max-width: 815px) {
  .about-us .about-us__slider .about-us__slide .about-us__info p {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 600px) {
  .about-us .about-us__slider .about-us__slide .about-us__info p {
    font-size: 2rem;
    margin-left: 4rem;
  }
}
.about-us .navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}
@media screen and (max-width: 600px) {
  .about-us .navigation {
    margin-top: 15px;
  }
}
.about-us .about-us__slider:hover .navigation {
  opacity: 1;
}
.about-us .prev-btn,
.about-us .next-btn {
  z-index: 40;
  font-size: 2rem;
  color: #222;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}
.about-us .prev-btn {
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.about-us .next-btn {
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.about-us .navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
}
.about-us .navigation-visibility .slide-icon {
  z-index: 40;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-65px);
  margin: 0 6px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rga(1 1 1/20%);
}
.about-us .navigation-visibility .slide-icon.active {
  background: #ff16167e;
}

.trade {
  display: grid;
  background-color: rgba(251, 203, 203, 0.01);
  background-image: linear-gradient(rgba(84, 72, 58, 0.1), rgba(84, 72, 58, 0.1));
  grid-column: full-start/-1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: start;
}
.trade__img--1 {
  width: 100%;
  grid-row: 2/5;
  grid-column: 2/5;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: 2%;
}
@media screen and (max-width: 620px) {
  .trade__img--1 {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .trade__img--1 {
    width: 80%;
    margin-top: 10rem;
    grid-row: 2/5;
    grid-column: 1/7;
    margin-left: 4rem;
  }
}
.trade__img--2 {
  width: 100%;
  grid-row: 4/5;
  grid-column: 4/6;
  z-index: 20;
  margin-top: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0);
}
@media screen and (max-width: 620px) {
  .trade__img--2 {
    grid-row: 4/4;
    margin-top: 0rem;
  }
}
@media screen and (max-width: 480px) {
  .trade__img--2 {
    width: 100%;
    margin-top: 0rem;
    grid-column: 3/6;
  }
}
.trade__icon {
  color: #be1e2d;
  font-size: 4rem;
  justify-content: space-between;
  margin-top: 10rem;
  margin-left: 6rem;
  grid-row: 1/span 1;
  transform: translateY(-1rem);
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.083);
}
@media screen and (max-width: 480px) {
  .trade__icon {
    grid-column: 1/1;
    margin-top: -2rem;
    margin-left: 2rem;
  }
}
.trade__heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  color: #be1e2d;
  font-size: 2.3rem;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 6rem;
  grid-row: 1/2;
  grid-column: 2/4;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.037);
}
@media screen and (max-width: 480px) {
  .trade__heading {
    margin-left: -4rem;
  }
}
.trade__heading-secondary {
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/6;
  margin-top: 2rem;
}
@media screen and (max-width: 480px) {
  .trade__heading-secondary {
    grid-column: 1/7;
    padding: 20px;
  }
}
.trade__text {
  font-size: 2rem;
  font-style: italic;
  grid-row: 3/2;
  grid-column: 2/6;
  margin-top: 7rem;
}
@media screen and (max-width: 480px) {
  .trade__text {
    grid-column: 1/7;
    padding: 0px 10px 0px 20px;
  }
}
@media screen and (min-width: 626px) {
  .trade {
    grid-column: full-start/-1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: start;
  }
  .trade__img--1 {
    width: 100%;
    grid-row: 2/5;
    grid-column: 2/5;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    border-radius: 2%;
  }
  .trade__img--2 {
    width: 100%;
    grid-row: 4/5;
    grid-column: 4/6;
    z-index: 20;
    margin-top: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0);
  }
  .trade__icon {
    color: #be1e2d;
    font-size: 4rem;
    justify-content: space-between;
    margin-top: 10rem;
    margin-left: 6rem;
    grid-row: 1/span 1;
    transform: translateY(-1rem);
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.083);
  }
  .trade__heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #be1e2d;
    font-size: 2.3rem;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 8rem;
    grid-row: 1/2;
    grid-column: 2/4;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.037);
  }
  .trade__heading-secondary {
    width: 100%;
    grid-row: 1/3;
    grid-column: 2/6;
    margin-top: 2rem;
  }
  .trade__text {
    font-size: 2rem;
    font-style: italic;
    grid-row: 3/2;
    grid-column: 2/6;
    margin-top: 7rem;
  }
}
@media screen and (min-width: 1100px) {
  .trade {
    grid-column: full-start/col-end 5;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: start;
  }
  .trade__img--1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 2/6;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    margin-top: -6rem;
    margin-left: -2rem;
    border-radius: 2%;
  }
  .trade__img--2 {
    width: 100%;
    grid-row: 4/6;
    grid-column: 4/7;
    z-index: 20;
    margin-top: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0);
  }
  .trade__icon {
    color: #be1e2d;
    font-size: 4rem;
    justify-content: space-between;
    margin-top: 12rem;
    margin-left: 5rem;
    grid-row: 1/span 1;
    transform: translateY(-1rem);
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.083);
  }
  .trade__heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #be1e2d;
    font-size: 2.3rem;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 8rem;
    grid-row: 1/2;
    grid-column: 2/4;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.037);
  }
  .trade__heading-secondary {
    width: 100%;
    grid-row: 1/3;
    grid-column: 2/6;
    margin-top: 2rem;
  }
  .trade__text {
    font-size: 2rem;
    font-style: italic;
    grid-row: 3/2;
    grid-column: 2/6;
    margin-top: 7rem;
  }
}

.urgent {
  grid-column: col-start 1/full-end;
  padding: 6rem 5vw;
  display: grid;
  align-content: center;
  justify-items: start;
  background-image: linear-gradient(to right, rgba(172, 37, 13, 0.1), rgba(190, 30, 45, 0.2));
}
.urgent__text {
  font-size: 2rem;
  font-style: italic;
  width: 80%;
  margin-bottom: 4rem;
  color: #000;
}
@media screen and (max-width: 600px) {
  .urgent__text {
    width: 85%;
  }
}
@media screen and (min-width: 1100px) {
  .urgent {
    grid-column: col-start 6/full-end;
    padding: 6rem 8vw;
  }
}
.urgent__text {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 4rem;
  color: #000;
}

.retail {
  grid-column: full-start/full-end;
  background-color: #be1e2d;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(204, 204, 204, 0.1));
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0rem;
}
.retail__heading--title {
  font-size: 8.2rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: -2rem;
}
@media screen and (max-width: 644px) {
  .retail__heading--title {
    margin-top: 1rem;
    font-size: 7rem;
  }
}
@media screen and (max-width: 560px) {
  .retail__heading--title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 425px) {
  .retail__heading--title {
    font-size: 4rem;
  }
}
.retail__heading {
  font-size: 3.4rem;
  color: #fff;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-top: -2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
@media screen and (max-width: 644px) {
  .retail__heading {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 560px) {
  .retail__heading {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 644px) {
  .retail__heading {
    font-size: 2.1rem;
  }
}
.retail__wrapper {
  display: flex;
  margin-bottom: 4rem;
  margin-top: 2rem;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
@media screen and (max-width: 700px) {
  .retail__wrapper {
    flex-direction: column;
  }
}
.retail__cards--left {
  flex: 3;
  position: relative;
}
.retail__cards--right {
  flex: 2;
  position: relative;
}
.retail__card--mobile {
  display: grid;
  position: relative;
  align-items: start;
  justify-content: center;
  margin-bottom: 2.3rem;
  background-color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 700px) {
  .retail__card--mobile {
    background-color: rgba(0, 0, 0, 0);
  }
}
.retail__img--mobile {
  display: flex;
  width: 45vw;
  opacity: 90%;
}
@media screen and (max-width: 700px) {
  .retail__img--mobile {
    width: 75vw;
    opacity: 95%;
    margin-bottom: 2rem;
  }
}
.retail__mobile--info {
  display: grid;
  position: absolute;
  justify-self: center;
  align-self: center;
  align-self: flex-start;
  margin-top: 2rem;
}
@media screen and (max-width: 700px) {
  .retail__mobile--info {
    align-self: flex-start;
    margin-top: 2rem;
  }
}
.retail__mobile--title {
  font-size: 4em;
  font-weight: 800;
  color: #f3fc1f;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
}
.retail__mobile--p {
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.12);
  margin-top: -1rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.retail .shape--cases {
  height: 0%;
  display: flex;
  position: absolute;
  justify-self: center;
  align-self: center;
  margin-top: 25rem;
}
.retail__card--drone {
  display: grid;
  position: relative;
  align-items: start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 2rem;
}
@media screen and (max-width: 700px) {
  .retail__card--drone {
    background-color: rgba(0, 0, 0, 0);
  }
}
.retail__img--drone {
  opacity: 90%;
  width: 40vw;
}
@media screen and (max-width: 700px) {
  .retail__img--drone {
    width: 75vw;
    margin-bottom: 2rem;
    opacity: 95%;
  }
}
.retail__drone--info {
  display: grid;
  position: absolute;
  justify-self: center;
  margin-top: 1.5rem;
}
.retail__drone--title {
  font-size: 3.5rem;
  font-weight: 800;
  color: #f3fc1f;
  text-transform: uppercase;
  margin-top: -1rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
}
.retail__drone--p {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: -1rem;
}
.retail .shape--drone {
  height: 0%;
  display: flex;
  position: absolute;
  display: grid;
  place-items: center;
  justify-self: center;
  align-self: center;
  margin-bottom: -20rem;
}
.retail__card--headphone {
  display: grid;
  position: relative;
  align-items: start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 700px) {
  .retail__card--headphone {
    background-color: rgba(0, 0, 0, 0);
  }
}
.retail__img--headphone {
  width: 45vw;
  opacity: 85%;
}
@media screen and (max-width: 700px) {
  .retail__img--headphone {
    width: 75vw;
    margin-bottom: 2rem;
    opacity: 90%;
  }
}
.retail__headphone--info {
  display: grid;
  position: absolute;
  justify-self: center;
  align-self: flex-start;
  margin-top: 2rem;
}
@media screen and (max-width: 700px) {
  .retail__headphone--info {
    align-self: flex-start;
    margin-top: 2rem;
  }
}
.retail__headphone--title {
  font-size: 3.5rem;
  font-weight: 800;
  color: #f3fc1f;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
}
.retail__headphone--p {
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: -1rem;
}
.retail .shape--headp {
  height: 0%;
  display: flex;
  position: absolute;
  place-items: center;
  justify-self: center;
  align-self: center;
  margin-top: 10rem;
}
.retail__card--camera {
  display: grid;
  position: relative;
  align-items: start;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 700px) {
  .retail__card--camera {
    background-color: rgba(0, 0, 0, 0);
  }
}
.retail__img--camera {
  position: relative;
  width: 40vw;
  opacity: 90%;
}
@media screen and (max-width: 700px) {
  .retail__img--camera {
    width: 75vw;
    margin-bottom: 2rem;
    opacity: 95%;
  }
}
.retail__camera--info {
  display: grid;
  position: absolute;
  justify-self: center;
  margin-top: 2rem;
}
.retail__camera--title {
  font-size: 3.8rem;
  font-weight: 800;
  color: #f3fc1f;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(82, 46, 46, 0.037);
}
.retail__camera--p {
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: -1rem;
}
.retail .shape--camera {
  height: 0%;
  display: flex;
  position: absolute;
  display: grid;
  place-items: center;
  justify-self: center;
  align-self: center;
  margin-top: 10rem;
}
.retail__card--car {
  display: grid;
  position: relative;
  align-items: start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 700px) {
  .retail__card--car {
    background-color: rgba(0, 0, 0, 0);
  }
}
.retail__img--car {
  position: relative;
  width: 40vw;
  opacity: 90%;
}
@media screen and (max-width: 700px) {
  .retail__img--car {
    width: 75vw;
    opacity: 95%;
  }
}
.retail__car--info {
  display: grid;
  position: absolute;
  justify-self: center;
  margin-top: 1.5rem;
}
.retail__car--title {
  font-size: 3.2rem;
  font-weight: 800;
  color: #f3fc1f;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.119);
}
.retail__car--p {
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: -1rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(82, 46, 46, 0.037);
}
.retail .shape--car {
  height: 0%;
  display: flex;
  position: absolute;
  display: grid;
  place-items: center;
  justify-self: center;
  align-self: center;
  margin-top: 10rem;
}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url(../assets/img/bg-contact1.jpg);
  opacity: 98%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 700px) {
  .contact {
    background-image: url(../assets/img/bg-contact-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}
.contact__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(43, 41, 41, 0.062);
  margin-bottom: 0rem;
}
.contact__details {
  display: flex;
  margin-bottom: 4rem;
  color: #202122;
}
.contact__details div {
  text-align: center;
  margin: 4rem;
  width: 90%;
}
.contact__details i {
  font-size: 6rem;
  color: #be1e2d;
}
.contact__details h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  margin: 3em 0;
  color: white;
}
.contact__details p {
  display: none;
}
.contact__wrapper h1 {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 3rem;
  margin-right: 2rem;
}
.contact__form {
  width: 60rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .contact__form {
    width: 55rem;
  }
}
@media screen and (max-width: 470px) {
  .contact__form {
    width: 50rem;
  }
}
@media screen and (max-width: 430px) {
  .contact__form {
    width: 42rem;
  }
}
@media screen and (max-width: 395px) {
  .contact__form {
    width: 38rem;
  }
}
@media screen and (max-width: 325px) {
  .contact__form {
    width: 30rem;
  }
}
.contact__form input, .contact__form textarea {
  padding: 1.5rem;
  background-color: #444;
  color: #eee;
  border: none;
  margin-bottom: 2rem;
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.contact__form textarea {
  max-width: 100%;
  max-height: 15rem;
  min-height: 5.5rem;
}
.contact__form input[type=submit] {
  background-color: #be1e2d;
  text-transform: uppercase;
  margin-bottom: 10rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact__form input[type=submit]:hover {
  background-color: black;
  color: white;
}
@media screen and (min-width: 700px) {
  .contact {
    grid-column: full-start/full-end;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .contact__details i {
    font-size: 5rem;
    color: #be1e2d;
  }
  .contact__details {
    display: flex;
    margin-bottom: 4rem;
    color: #ff161694;
    font-size: 1rem;
    font-weight: 100;
  }
  .contact__details h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    margin: 0rem 0rem;
    color: white;
  }
  .contact__details p {
    display: unset;
    font-weight: 600;
    color: #202122c9;
    font-size: 1.5rem;
  }
  .contact__form {
    width: 70rem;
    display: flex;
    flex-direction: column;
  }
}

.footer__bar {
  display: grid;
  background-color: #202122;
  grid-column: full-start/full-end;
  grid-gap: 1rem;
  align-items: center;
  padding: 2rem;
}

.footer__nav {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  list-style: none;
  display: grid;
  align-items: center;
}
@media screen and (max-width: 43.75em) {
  .footer__nav {
    grid-template-columns: repeat(auto-fit, minmax(6rem, auto));
  }
}

.footer__link:link,
.footer__link:visited {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ccc;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  display: block;
  transition: all 0.2s;
  margin-top: 0.5rem;
}

.footer__link:hover,
.footer__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  color: #be1e2d;
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #ccc;
  text-align: center;
}

.footer__amenities--heading {
  list-style: none;
  display: flex;
  position: relative;
  color: #ccc;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 4rem;
}

.footer__amenities--item {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #f9f7f6;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #ccc;
}

.facebook {
  display: flex;
  height: 8rem;
  margin: auto;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
