*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 60.5%;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  background-color: rgba(255, 255, 255, 0.103);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: 5rem 12vh min-content 75vh min-content 40vw repeat(4, min-content);
}

/* for explesive (like for a photo al)  
  grid-auto-rows: 80px;
  grid-auto-flow: row dense;
  grid-auto-columns: .5fr; */
/* this is another was to lay out your grid, empty box add .

grid-template-areas: "nav nav nav nav nav nav nav nav" (can you nav repeat(7)?)
                      header same as above
                      map map map map map about about 
                      etc etc; 

  in css - .nav {
    grid-area: nav;
  }*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
}

.heading-5, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}
.heading-1--dark {
  color: #ac250d;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--dark {
  color: #000;
}
.heading-2--light {
  color: #fff;
}
.heading-2--red {
  color: #ac250d;
}

.heading-3 {
  font-size: 2.3rem;
  color: #ac250d;
  text-transform: uppercase;
}
.heading-3--light {
  color: #f9f7f6;
}
.heading-3--dark {
  color: #008fd8;
}
.heading-3--light {
  color: #fff;
}

.heading-4 {
  font-size: 2.8rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #ac250d;
}
.heading-4--black {
  color: #000;
}

.heading-5 {
  font-size: 1.4rem;
  font-weight: 400;
}
.heading-5--light {
  color: #f9f7f6;
}
.heading-5--dark {
  color: #ac250d;
}
.heading-5--black {
  color: #000;
}

.btn {
  background-color: #ac250d;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #000;
}

.gmap__btn {
  background-color: #ac250d;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.gmap__btn:hover {
  background-color: #000;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.gmap {
  grid-column: full-start/col-end 5;
  background-color: rgba(250, 172, 172, 0.064);
  display: flex;
  position: relative;
  align-items: center;
}
.gmap #map {
  border-radius: 20px;
  margin-left: 3rem;
  height: 100%;
  width: 100%;
}
.gmap .gmap__glass {
  background: #fff;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
  min-height: 50vh;
  width: 45%;
  margin-left: 5rem;
  position: absolute;
  z-index: 99;
  border-radius: 2rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
}
.gmap .gmap__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2.5rem;
}
.gmap__heading {
  font-size: 2rem;
  margin: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
  padding-top: 1rem;
}
.gmap__text {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
}
.gmap__btn {
  display: flex;
  margin-top: 3rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
}

.nav {
  display: grid;
  grid-column: full-start/-1;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(204, 204, 204, 0.1));
  background-color: #ac250d;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

.nav__message {
  display: flex;
}

.nav__message--title {
  border: 3px solid #ac250d;
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 5rem;
  background-image: linear-gradient(rgba(243, 252, 31, 0.1), rgba(243, 252, 31, 0.9));
  color: #000;
  font-size: 2rem;
  width: 100%;
}

.nav__bar {
  display: flex;
  position: absolute;
  top: 3rem;
  right: 3%;
  justify-content: center;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 2rem;
}

.nav__item {
  margin: 5.5rem 0rem;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
  transition: transform 0.5s;
}

.nav__link:hover {
  color: #e9f00dbd;
  transition: all 0.3s ease;
}

.active {
  color: #f3fc1f;
}

.nav__list--secondary {
  margin-left: 5rem;
}

.nav__logo {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 5rem;
  display: flex;
  margin-left: 24px;
  padding-top: 1rem;
  cursor: pointer;
}

.nav__button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0);
}
.nav__button:hover {
  background-color: #f3fc1f;
  color: #000;
}

.headers {
  background-color: rgba(250, 172, 172, 0.03);
  grid-column: full-start/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  padding: 2rem;
}

.header {
  display: flex;
  position: relative;
  width: 85;
}
.header__icon {
  display: flex;
  padding-right: 1rem;
  color: #ac250d;
  font-size: 2.5rem;
}
.header__text {
  font-size: 1.8rem;
  font-weight: 350;
  color: #000;
  margin: 1rem;
}
.header .heading__learn--more {
  font-size: 1.4rem;
}

.services {
  grid-column: center-start/center-end;
  margin: 12rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
}

.service {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.2rem;
}
.service__icon {
  color: #ac250d;
  font-size: 3.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.083);
}
.service__text {
  font-size: 1.9rem;
  color: #6d5d4b;
}

.stars {
  grid-column: full-start/full-end;
  background-image: url(../img/repair-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 100%;
}

.stars__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-us {
  grid-column: col-start 6/full-end;
  width: 100%;
  position: relative;
}
.about-us__wrapper {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}
.about-us__steve {
  position: relative;
}
.about-us__img {
  display: flex;
  position: absolute;
  height: 100%;
  border-radius: 20px;
  margin-left: 1rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
.about-us__btn {
  width: 4rem;
  height: 4rem;
  background-color: #f3fc1f;
  position: absolute;
  top: -2rem;
  right: -3.5rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 50;
  transition: transform 0.5s;
}
.about-us .change.about-us__btn {
  transform: rotate(405deg);
}
.about-us__btn--line {
  width: 100%;
  height: 0.2rem;
  background-color: #000;
}
.about-us__story {
  background-color: rgba(0, 0, 0, 0.791);
  position: absolute;
  height: 100%;
  width: 30vw;
  margin-left: 1rem;
  padding: 24rem;
  border-radius: 10px;
  transform: scale(0);
  transition: all 0.5s;
}
.about-us .change.about-us__story {
  transform: scale(1);
}
.about-us__story--heading {
  font-size: 4rem;
  font-weight: 700;
  color: #e9f00dbd;
  display: flex;
  position: absolute;
  top: 1%;
  left: 30%;
}
.about-us__paragraph--1 {
  font-size: 2rem;
  color: white;
  display: flexbox;
  position: absolute;
  top: 11%;
  right: 10%;
  margin-left: 3rem;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.about-us__paragraph--3 {
  font-size: 2rem;
  color: white;
  display: flexbox;
  position: absolute;
  bottom: 11%;
  right: 10%;
  margin-left: 3rem;
  text-align: center;
}

.trade {
  background-color: rgba(251, 203, 203, 0.01);
  background-image: linear-gradient(rgba(84, 72, 58, 0.1), rgba(84, 72, 58, 0.1));
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: start;
}
.trade__img--1 {
  width: 110%;
  grid-row: 2/6;
  grid-column: 2/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  margin-top: 10rem;
  border-radius: 1%;
}
.trade__img--2 {
  width: 130%;
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 20;
  margin-top: 0rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0);
}
.trade__icon {
  color: #ac250d;
  font-size: 4rem;
  justify-content: space-between;
  margin-top: 12rem;
  margin-left: 5rem;
  grid-row: 1/span 1;
  transform: translateY(-1rem);
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.083);
}
.trade .heading__trade {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  color: #ac250d;
  font-size: 2.3rem;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 8rem;
  grid-row: 1/2;
  grid-column: 2/4;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.037);
}
.trade .heading__trade-secondary {
  display: grid;
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/6;
  margin-top: 2rem;
}
.trade__text {
  font-size: 2rem;
  font-style: italic;
  grid-row: 3/2;
  grid-column: 2/6;
  margin-top: 7rem;
}

.urgent {
  grid-column: col-start 5/full-end;
  padding: 6rem 8vw;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  display: grid;
  align-content: center;
  justify-items: start;
  background-image: linear-gradient(to right, rgba(172, 37, 13, 0.2), rgba(172, 37, 13, 0.4));
}
.urgent__text {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 4rem;
  color: #000;
}

.retail {
  grid-column: full-start/full-end;
  background-color: #ac250d;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(204, 204, 204, 0.1));
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.retail__heading {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.retail__wrapper {
  display: flex;
}

.retail__cards {
  display: flex;
}

.retail__cards--left {
  flex: 3;
  position: relative;
}

.retail__cards--right {
  flex: 2;
  position: relative;
}

.retail__card--1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.retail__img--1 {
  display: flex;
  position: relative;
  height: auto;
  width: 45vw;
  padding-right: 3rem;
}

.retail__card--1 h4 {
  display: flex;
  position: absolute;
  margin-bottom: 41rem;
  font-size: 3.3rem;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
}

.retail__card--1 p {
  display: flex;
  position: absolute;
  margin-bottom: 35rem;
  color: #000;
  text-transform: uppercase;
  font-size: 1.5rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
}

.cta--1 {
  display: flex;
  position: absolute;
  background-color: #ac250d;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  padding: 5rem 1rem;
  border-radius: 50%;
  margin-top: 18rem;
}

.retail__card--2 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.retail__img--2 {
  display: flex;
  padding-right: 3rem;
  padding-top: 2.5rem;
  width: 48vw;
}

.retail__card--2 h4 {
  display: flex;
  position: absolute;
  margin-bottom: 42rem;
  font-size: 3.5rem;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  margin-top: 12rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
}

.retail__card--2 p {
  display: flex;
  position: absolute;
  margin-bottom: 24rem;
  color: #000;
  text-transform: uppercase;
  font-size: 1.5rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
}

.cta--2 {
  display: flex;
  position: absolute;
  background-color: #ac250d;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  padding: 5rem 1rem;
  border-radius: 50%;
  margin-top: 20rem;
}

.retail__card--3 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.retail__img--3 {
  display: flex;
  margin-bottom: 1rem;
  height: auto;
  width: 35vw;
}

.retail__card--3 h4 {
  display: flex;
  position: absolute;
  margin-bottom: 45rem;
  font-size: 3rem;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 26rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
}

.retail__card--3 p {
  display: flex;
  position: absolute;
  margin-bottom: 24rem;
  color: #000;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 21rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
}

.cta--3 {
  display: flex;
  position: absolute;
  background-color: #ac250d;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  padding: 4rem 1rem;
  border-radius: 50%;
  margin-top: 14rem;
}

.retail__card--4 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.retail__img--4 {
  display: flex;
  margin-bottom: 1rem;
  height: auto;
  width: 35vw;
}

.retail__card--4 h4 {
  display: flex;
  position: absolute;
  margin-bottom: 26rem;
  font-size: 3.2rem;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(82, 46, 46, 0.037);
}

.retail__card--4 p {
  display: flex;
  position: absolute;
  color: #000;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 20rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.cta--4 {
  display: flex;
  position: absolute;
  background-color: #ac250d;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  padding: 4rem 1rem;
  margin-top: 10rem;
  border-radius: 50%;
}

.retail__card--5 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.retail__img--5 {
  display: flex;
  height: 100%;
  width: 35vw;
  opacity: 98%;
}

.retail__card--5 h4 {
  display: flex;
  position: absolute;
  margin-bottom: 40rem;
  font-size: 3.2rem;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  margin-top: 19rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.119);
}

.retail__card--5 p {
  display: flex;
  position: absolute;
  margin-bottom: 16rem;
  color: #000;
  text-transform: uppercase;
  font-size: 1.4rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
}

.cta--5 {
  display: flex;
  position: absolute;
  background-color: #ac250d;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  padding: 4rem 1rem;
  border-radius: 50%;
  margin-top: 10rem;
}

.contact {
  grid-column: full-start/full-end;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 95%;
}

.contact__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 13rem;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0rem;
}

.contact__details {
  display: flex;
  margin-bottom: 8rem;
}

.contact__details div {
  text-align: center;
  margin: 4rem;
}

.contact__details i {
  font-size: 5rem;
  color: #ac250d;
}

.contact__details h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #ccc;
}

.contact__details p {
  font-size: 1.6rem;
  color: #aaa;
}

.contact__wrapper h1 {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.886);
  text-transform: uppercase;
  margin-bottom: 3rem;
  margin-right: 4rem;
}

.contact__form {
  width: 70rem;
  display: flex;
  flex-direction: column;
}

.contact__form input,
.contact__form textarea {
  padding: 1.5rem;
  background-color: #444;
  color: #eee;
  border: none;
  margin-bottom: 2rem;
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.contact__form textarea {
  max-width: 100%;
  max-height: 15rem;
  min-height: 5.5rem;
}

.contact__form input[type=submit] {
  background-color: #ac250d;
  text-transform: uppercase;
  margin-bottom: 10rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact__form input[type=submit]:hover {
  background-color: #f3fc1f;
  color: #000;
}

.footer__bar {
  display: grid;
  background-color: #202122;
  grid-column: full-start/full-end;
  grid-gap: 1rem;
  align-items: center;
  padding: 2rem;
}

.footer__nav {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  list-style: none;
  display: grid;
  align-items: center;
}

.footer__link:link,
.footer__link:visited {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ccc;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  display: block;
  transition: all 0.2s;
  margin-top: 0.5rem;
}

.footer__link:hover,
.footer__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ac250d;
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #ccc;
  text-align: center;
}

.footer__amenities--heading {
  list-style: none;
  display: flex;
  position: relative;
  color: #ccc;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 4rem;
}

.footer__amenities--item {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #f9f7f6;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #ccc;
}

/*# sourceMappingURL=style.css.map */
