@use "../abstracts" as *;

.about-map {
  height: 100%;

  background-image: url(../img/texture-sm.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .img-map {
    display: none;
  }

  .card {
    display: grid;

    // background-color: rgba(243, 243, 244, 0.969);
    background-color: rgba(244, 242, 240, 0.071);
    // box-shadow: 0px 2px 8px 0px rgba(51, 51, 51, 0.297);
  }

  .profile-img {
    display: flex;
    // position: relative;
    margin: auto;
    // align-self: center;

    width: 15rem;
  }

  .title {
    display: flex;
    margin: auto;
    padding: 10px;
  }

  .owner {
    display: flex;
    margin: auto;
    padding: 10px;
    font-size: 1.4em;
  }

  .description {
    display: flex;
    margin: auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #222323;
    // padding: 1rem 1rem;
    font-size: 2em;
    width: 75%;
    padding: 5px 5px;

    @media screen and (max-width: 390px) {
      width: 95%;
    }
  }

  .card__time {
    display: flex;
    position: relative;
    margin: auto;
    // align-items: start;
    // justify-content: center;
    // margin-top: 1rem;
    // margin-right: 5rem;
  }
  .time-icon {
    height: 3rem;

    display: flex;
    margin-right: 1rem;
  }
  .card__time--hours {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 1.8rem;
    padding: 10px 10px;
    // text-align: center;
  }
  .card__phone {
    display: flex;
    margin: auto;
    padding-bottom: 3rem;

    // margin-right: 5rem;
  }
  .card__number {
    display: flex;
    font-size: 1.8em;
    margin: 0;
    margin-right: 4rem;
    text-decoration: none;
  }

  .phone-icon {
    display: flex;
    margin-right: 4rem;
    height: 2.5rem;
  }

  //start
  @media screen and (min-width: $bp-ipad) {
    .map {
      display: none;
    }
    display: grid;
    grid-column: col-start 7 / full-end;

    background-image: url(../img/texture-sm.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    // @media screen and (max-width: $bp-ipad) {
    //   grid-column: full-start / full-end;
    // }

    .img-map {
      display: unset;
      display: flex;
      cursor: pointer;
    }

    .profile-img {
      width: 12rem;

      // clip-path: circle(50px at center);
    }

    .title {
      font-size: 3em;
    }

    .owner {
      font-size: 1.2em;
      margin-top: -1rem;
    }

    .description {
      // align-self: flex-start;
      // justify-self: center;
      // display: flex;
      text-align: center;
      font-weight: 500;
      letter-spacing: 0.3px;
      color: #222323;
      // padding: 1rem 1rem;
      font-size: 1.8em;
      width: 80%;
    }

    .card__time {
      display: flex;
    }
    .time-icon {
      height: 3rem;

      display: flex;
      margin-right: 2rem;
    }
    .card__time--hours {
      font-size: 2rem;
      // text-align: center;
    }
    .card__phone {
      // display: flex;
      // position: relative;
      align-items: center;

      // padding-bottom: 3rem;
      // margin-right: 5rem;
    }
    .card__number {
      font-size: 1.8em;
      text-decoration: none;
    }

    .phone-icon {
      display: flex;
      margin-right: 2rem;
      height: 2.5rem;
    }
  }
}
