@use "../abstracts" as *;

.about-map {
  height: 100%;
  grid-column: full-start / full-end;

  background-image: url(../img/texture-sm.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .profile-pic {
    display: flex;
    height: 15rem;
    margin: auto;
    margin-top: -2rem;
    margin-bottom: 2rem;
  }

  .heading {
    text-transform: uppercase;
    font-size: 2.8rem;

    letter-spacing: 3.5px;
    margin: auto;
    // margin-top: -4rem;
    // margin-right: -3px;
    // text-align: center;
    position: relative;
    margin-bottom: 5px;
    @media screen and (max-width: 600px) {
      margin-top: -2rem;
    }
  }
  .heading::after {
    content: "";
    width: 5rem;
    height: 0.5rem;
    background-color: $color-primary-home;
    position: absolute;
    margin-top: 5rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;

    @media screen and (max-width: 600px) {
      margin-top: 4rem;
    }
  }

  .card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .card {
    // width: 32rem;
    // background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    // box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
  }

  .card-map {
    display: none;
  }

  .owner-title {
    margin: auto;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 5px;
  }

  .about-text {
    display: flex;
    margin: auto;
    text-align: center;
    // font-style: italic;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #222323;
    // padding: 1rem 1rem;
    font-size: 1.8rem;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 600px) {
      width: 95%;
      padding: 10px;
      font-size: 2rem;
    }
  }

  .about-info {
    list-style: none;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }

  .about-info i {
    font-size: 2.5rem;
    display: flex;
    margin-right: 2rem;
  }

  .open {
    // font-size: 1.2rem;
    display: flex;
    margin-top: 20px;
    font-size: 1.5em;
  }
  .open-text {
    // font-size: 1.8rem;

    font-family: $font-primary;
  }

  .closed {
    display: flex;
    margin: 0;
    font-size: 1.5em;
    margin-left: 2rem;
  }

  .phone {
    display: flex;
    margin: 10px 0;
    font-size: 1.5em;
  }

  .phone-text {
    display: flex;
    // font-size: 2rem;
  }

  .email {
    display: flex;
    margin: 10px 0;
    font-size: 1.5em;
  }
  .email-text {
    // font-size: 1.8rem;
    font-weight: 400;
    font-family: $font-primary;
  }

  // .card-map {
  //   display: none;
  // }
  @media screen and (min-width: $bp-ipad) {
    .map {
      display: none;
    }
    display: grid;
    grid-column: col-start 7 / full-end;

    background-image: url(../img/texture-sm.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .profile-pic {
      display: flex;
      height: 10rem;
      margin: auto;
      margin-top: -10rem;
    }

    .heading {
      text-transform: uppercase;
      font-size: 2.2rem;

      letter-spacing: 3.5px;
      margin: auto;
      // margin-top: -4rem;
      // margin-right: -3px;
      // text-align: center;
      position: relative;
      // margin-bottom: 10rem;
    }
    .heading::after {
      content: "";
      width: 4rem;
      height: 0.3rem;
      background-color: $color-primary-home;
      position: absolute;
      margin-top: 3.6rem;
      left: 50%;
      transform: translate(-50%);
      border-radius: 10px;
    }

    .card-wrapper {
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: column;
    }

    .card {
      // width: 32rem;
      // background-color: #ebeef8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;
      // box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
    }

    .card-map {
      display: unset;
      width: 100%;
      margin: 0;
    }

    .owner-title {
      margin: auto;
      font-size: 1.4em;
      font-weight: 300;
      margin-top: 5px;
    }

    .about-text {
      display: flex;
      margin: auto;
      text-align: left;
      // font-style: italic;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: #222323;
      // padding: 1rem 1rem;
      font-size: 1.8rem;
      width: 85%;
      margin-top: 5px;
    }

    .about-info {
      list-style: none;
      display: flex;
      margin: auto;
      flex-direction: column;
      align-items: center;
    }

    .about-info i {
      font-size: 2rem;
      display: flex;
      margin-right: 2rem;
    }

    .open {
      // font-size: 1.2rem;
      display: flex;
      margin-top: 10px;
      font-size: 1.2rem;
    }
    .open-text {
      // font-size: 1.7rem;

      font-family: $font-primary;
    }

    .closed {
      display: flex;
      margin: 0;
      margin-left: 2rem;
      font-size: 1rem;
    }

    .phone {
      display: flex;
      margin: 5px 0;
      font-size: 1.2rem;
    }

    .phone-text {
      // font-size: 1.8rem;
    }

    .email {
      display: flex;
      margin: 5px 0;
    }
    .email-text {
      font-size: 1.8rem;
      font-weight: 400;
      font-family: $font-primary;
    }
  }

  //new up

  .description {
    display: flex;
    margin: auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #222323;
    // padding: 1rem 1rem;
    font-size: 2em;
    width: 75%;
    padding: 5px 5px;
  }

  //start

  @media screen and (max-width: 1500px) {
    grid-column: col-start 7 / full-end;
  }
}
