@use '../abstracts' as *;

.retail {
  grid-column: full-start / full-end;
  background-color: $color-primary2;
  background-image: linear-gradient(rgba($color-black, 0.2), rgba(#ccc, 0.2));

  // outline: 0.5rem solid #fff;
  // outline-offset: -2rem;
  // border-radius: 10px;
  // margin-right: 2rem;
  // margin-left: 2rem;
  // margin-bottom: 2rem;

  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  // grid-gap: 1rem;

  justify-items: center;
  align-items: center;
  text-align: center;

  padding: 5rem;

  // gap: 1.5rem;

  &__heading--title {
    font-size: 8.2rem;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__heading {
    font-size: 3.5rem;
    color: $color-white;
    text-transform: uppercase;
    margin-top: -2rem;
    margin-bottom: 4rem;
  }

  &__wrapper {
    // border: 10px solid blue;
    display: flex;

    // // gap: 1rem;
    // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  &__cards--left {
    // border: 10px solid green;
    flex: 3;
    position: relative;
  }

  &__cards--right {
    // border: 10px solid yellowgreen;
    flex: 2;
    position: relative;
  }

  &__card--mobile {
    // border: 10px solid palevioletred;

    display: grid;
    position: relative;
    align-items: start;
    justify-content: center;

    // margin: 0 auto;

    // background-image: url(../img/phonecases.jpg);

    // background-repeat: no-repeat;
    // background-size: cover;
  }

  &__img--mobile {
    display: flex;
    height: auto;
    width: 46vw;
    margin-right: 3rem;
    // padding-right: 3rem;
    // border-radius: 5px;
  }

  &__mobile--info {
    display: grid;
    position: absolute;
    // border: 10px solid palevioletred;
    justify-self: center;
    margin-top: 6rem;

    // justify-content: center;
  }

  &__mobile--title {
    font-size: 3.3rem;
    font-weight: 800;
    color: rgb(243, 252, 31);
    text-transform: uppercase;

    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
  }

  &__mobile--p {
    // border: 10px solid palevioletred;
    // position: relative;
    // margin-top: 10rem;

    color: #000;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  &__mobile--shape {
    position: absolute;
    background: $color-primary2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.2em;
    justify-self: center;
    align-self: center;

    margin-top: 10rem;
  }

  &__card--drone {
    // border: 10px solid palevioletred;

    display: grid;
    position: relative;
    align-items: start;
    justify-content: center;
  }

  &__img--drone {
    padding-right: 3rem;
    padding-top: 2.5rem;

    width: 48vw;
    height: 111%;
  }
  &__drone--info {
    display: grid;
    position: absolute;
    // border: 10px solid palevioletred;
    justify-self: center;
    margin-top: 6rem;
  }

  &__drone--title {
    // border: 10px solid green;
    // position: relative;
    font-size: 3.5rem;
    font-weight: 800;
    color: rgb(243, 252, 31);
    text-transform: uppercase;
    margin-top: -2rem;

    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
  }

  &__drone--p {
    // position: relative;
    color: #000;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: -1rem;
  }

  &__drone--shape {
    position: absolute;
    background: $color-primary2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.2em;
    justify-self: center;
    align-self: center;
    margin-top: 20rem;
  }

  &__card--headphone {
    // border: 10px solid palevioletred;
    display: grid;

    position: relative;
    align-items: start;
    justify-content: center;
  }

  &__img--headphone {
    margin-bottom: 1rem;
    // border: 10px solid palevioletred;
    height: auto;
    width: 35vw;
    opacity: 95%;
  }

  &__headphone--info {
    display: grid;
    position: absolute;
    // border: 10px solid palevioletred;
    justify-self: center;
  }

  &__headphone--title {
    font-size: 3rem;
    font-weight: 800;
    color: rgb(243, 252, 31);
    text-transform: uppercase;
    margin-top: -2rem;

    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.023);
  }

  &__headphone--p {
    color: #000;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &__headphone--shape {
    position: absolute;
    background: $color-primary2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.2em;
    justify-self: center;
    align-self: center;
    margin-top: 15rem;
  }

  &__card--camera {
    // border: 10px solid palevioletred;
    display: grid;
    position: relative;
    align-items: start;
    justify-content: center;
  }

  &__img--camera {
    position: relative;
    margin-bottom: 1rem;
    // border: 10px solid palevioletred;
    height: auto;
    width: 35vw;
  }

  &__camera--info {
    display: grid;
    // position: absolute;
    // border: 10px solid palevioletred;
    // justify-self: center;
  }

  &__camera--title {
    font-size: 3.2rem;
    font-weight: 800;
    color: rgb(243, 252, 31);
    text-transform: uppercase;
    margin-top: -4rem;

    text-shadow: 0.2rem 0.2rem 0.2rem rgba(82, 46, 46, 0.037);
  }

  &__camera--p {
    color: #000;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: -1rem;
  }

  &__camera--shape {
    position: absolute;
    background: $color-primary2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.2em;
    justify-self: center;
    align-self: center;
    margin-top: 10rem;
  }

  &__card--car {
    // border: 10px solid palevioletred;
    display: grid;
    position: relative;
    align-items: start;
    justify-content: center;
  }

  &__img--car {
    position: relative;
    height: auto;
    width: 35vw;
    opacity: 90%;
  }
  &__car--info {
    display: grid;

    // border: 10px solid palevioletred;
    justify-self: center;
  }

  &__car--title {
    font-size: 3.2rem;
    font-weight: 800;
    color: rgb(243, 252, 31);
    text-transform: uppercase;
    margin-top: -4rem;

    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.119);
  }

  &__car--p {
    color: #000;

    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: -1rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(82, 46, 46, 0.037);
  }

  &__car--shape {
    position: absolute;
    background: $color-primary2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.2em;
    justify-self: center;
    align-self: center;
    margin-top: 10rem;
  }
}
