@use "../abstracts" as *;

.contact {
  // background-color: $color-grey-light-2;
  // background-color: rgba(0, 0, 0, 0.914);
  // background-image: linear-gradient(rgba(#ccc, 0.3), rgba($color-primary, 0.5));

  grid-column: full-start / full-end;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  background-image: url(../img/contact21.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 100%;

  &__wrapper {
    // border: solid green;
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 13rem;
    background-color: rgba(186, 177, 177, 0);
    margin-bottom: 0rem;
  }

  &__details {
    display: flex;
    margin-bottom: 8rem;
  }

  &__details div {
    // width: 25rem;
    text-align: center;
    margin: 4rem;
  }

  &__details i {
    font-size: 5rem;
    color: $color-primary2;
  }

  &__details h4 {
    font-family: $font-display;
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #ccc;
  }

  &__details p {
    font-size: 1.6rem;
    color: $color-white;

    @media screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__wrapper h1 {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.941);
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-right: 4rem;
  }

  &__form {
    // border: 2px solid yellow;
    width: 70rem;
    display: flex;
    flex-direction: column;
    // margin-left: 15rem;

    @media screen and (max-width: $bp-small) {
      width: 50rem;
      padding: 20px;
    }
  }

  &__form input,
  &__form textarea {
    padding: 1.5rem;
    background-color: #444;
    color: #eee;
    border: none;
    margin-bottom: 2rem;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }

  &__form textarea {
    max-width: 100%;
    max-height: 15rem;
    min-height: 5.5rem;
  }

  &__form input[type="submit"] {
    background-color: $color-primary2;
    text-transform: uppercase;
    margin-bottom: 10rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  &__form input[type="submit"]:hover {
    background-color: $color-yellow;
    color: $color-black;
  }
}
