@use "../abstracts" as *;

.services {
  // border: 10px solid yellow;
  // background-color: gray;
  display: grid;
  grid-column: center-start / center-end;
  margin: 12rem 0;

  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  grid-gap: 4rem;
  align-items: start;
}

.service {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;

  @media screen and (max-width: $bp-small) {
    grid-column: 1 / full-end;
  }

  &__icon {
    color: $color-primary2;
    // width: 4.5rem;
    // height: 4.5rem;
    font-size: 2.8rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.044);

    @media screen and (max-width: $bp-ipad) {
      margin-left: 5rem;
    }

    @media screen and (max-width: $bp-small) {
      margin-left: 5rem;
    }
  }

  &__text {
    font-size: 2rem;
    color: $color-grey-dark-1;

    @media screen and (max-width: $bp-small) {
      width: 95%;
      font-size: 2.5rem;
    }
  }
}
