@use '../abstracts/' as *;

.about-map {
  // border: 2px solid pink;
  display: grid;
  grid-column: col-start 8 / full-end;

  background-image: url(../img/texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .card {
    display: grid;
    // grid-template-columns: minmax(300px, 1fr);

    // position: flex;

    // background-color: rgba(243, 243, 244, 0.969);
    background-color: rgba(239, 238, 237, 0.393);
    // box-shadow: 0px 2px 8px 0px rgba(51, 51, 51, 0.297);
  }
  .banner-img {
    display: flex;

    background-image: url(../img/mapstart.png);
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;

    height: auto;
    // width: 100%;

    cursor: pointer;
  }

  .profile-img {
    display: flex;
    position: relative;
    margin-top: 12rem;

    align-self: center;

    width: 24rem;
    clip-path: circle(55px at center);
  }
}
.title {
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 2rem;
}
.owner {
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 1.4em;
}
.description {
  display: flex;
  align-self: flex-start;
  justify-self: center;
  text-align: start;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #222323;
  padding: 1rem 1rem;
  font-size: 1.8em;
  width: 90%;
}

.card__phone {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.card__number {
  // margin-left: 10rem;
  font-size: 1.8em;
}

.phone-icon {
  display: flex;
  margin-right: 2rem;
  height: 2.5rem;
}

.card__time {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.time-icon {
  height: 3rem;

  display: flex;
  margin-right: 2rem;
}
.card__time--hours {
  display: flex;
  position: relative;
  align-items: center;

  font-size: 1.8rem;
  text-align: center;
}

@media screen and (max-width: 1786px) {
  .description {
    letter-spacing: 0.2px;
    font-size: 1.6em;
  }
}
.description {
  letter-spacing: 0.2px;
  font-size: 1.7em;
}

@media screen and (max-width: 1700px) {
  .about-map {
    display: grid;
    grid-column: col-start 7 / full-end;
  }
  .description {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1600px) {
  .description {
    letter-spacing: 0.2px;
    font-size: 1.7em;
  }

  .card__number {
    // margin-left: 10rem;
    font-size: 1.6em;
  }

  .card__time--hours {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1450px) {
  .about-map {
    display: grid;
    grid-column: col-start 6 / full-end;
  }
  .description {
    font-size: 1.8rem;
    width: 85%;
  }
  .card__number {
    // margin-left: 10rem;
    font-size: 1.8em;
  }

  .card__time--hours {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1275px) {
  .description {
    font-size: 1.6rem;
  }
  .card__number {
    // margin-left: 10rem;
    font-size: 1.7em;
  }

  .card__time--hours {
    font-size: 1.6rem;
  }
  .title {
    font-size: 1.6rem;
  }
  .owner {
    font-size: 1.3rem;
  }
}
