@use '../abstracts/' as *;

.about-map {
  // border: 2px solid pink;
  display: grid;
  grid-column: col-start 8 / full-end;

  background-image: url(../img/texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .card {
    display: grid;
    // grid-template-columns: minmax(300px, 1fr);

    // position: flex;

    // background-color: rgba(243, 243, 244, 0.969);
    background-color: rgba(239, 238, 237, 0.393);
    // box-shadow: 0px 2px 8px 0px rgba(51, 51, 51, 0.297);
  }
  .banner-img {
    position: absolute;
    background-image: url(../img/mapstart.png);
    background-repeat: no-repeat;
    align-self: center;
    height: 100%;
    width: 100%;
    margin-left: 0rem;
    cursor: pointer;
  }

  .profile-img {
    display: flex;
    justify-self: center;
    align-self: end;
    margin-top: 10rem;

    width: 24rem;
    clip-path: circle(55px at center);
  }
}
.title {
  display: flex;
  align-items: start;
  justify-content: center;
}
.owner {
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 1.5em;
}
.description {
  display: flex;
  align-self: flex-start;
  justify-self: center;
  text-align: start;
  font-weight: 400;

  letter-spacing: 0.3px;
  color: #222323;

  padding: 1rem 1rem;

  font-size: 1.8em;
  // background-color: rgba(255, 255, 255, 0.462);

  width: 90%;
}

.card__phone {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.card__number {
  // margin-left: 10rem;
  font-size: 2em;
}

.phone-icon {
  display: flex;
  margin-right: 2rem;
  height: 2.5rem;
}

.card__time {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.time-icon {
  display: flex;
  margin-right: 2rem;
}
.card__time--hours {
  display: flex;
  position: relative;
  align-items: center;

  font-size: 2rem;
  text-align: center;

  // align-self: flex-end;
  // justify-self: center;
  // color: #222323;
  // text-transform: uppercase;

  // margin-left: 0rem;
  // margin-bottom: 3rem;
  // letter-spacing: 0.5px;
  // // background-color: rgba(255, 255, 255, 0.517);
}
