// RESPONSIVE BREAKPOINTS
$bp-giant-wide: 106.25em; //1700px
$bp-largest-wide: 93.75em; //1500px
$bp-large: 76.875em; //1230px
$bp-ipad: 63.75em; //1020px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-mobile: 25em; //400px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  // width: 100%;
  // min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // color: #777;
  /*font-size: 16px;*/
  line-height: 1.7;
  // padding: 2rem;
}

html {
  box-sizing: border-box;
  font-size: 60.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  // @media screen and (min-width: $bp-giant-wide) {
  //   font-size: 65%;
  // }
  @media screen and (max-width: $bp-largest-wide) {
    font-size: 55%;
  }
  @media screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  // @media screen and (max-width: $bp-medium) {
  //   font-size: 48%;
  // }
  // @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  //   html {
  //     -webkit-text-size-adjust: none;
  //   } //idk
  // }
}
.container {
  display: grid;
  background-color: rgba(255, 255, 255, 0.103);
  background-blend-mode: multiply;
  background-size: cover;

  grid-template-columns:
    [full-start] auto [center-start] repeat(
      8,
      [col-start] minmax(min-content, 18rem) [col-end]
    )
    [center-end] auto [full-end];

  grid-template-rows: 28vh min-content min-content 35vw min-content min-content min-content repeat(
      6,
      min-content
    );

  @media screen and (max-width: $bp-ipad) {
    grid-template-rows: min-content 90rem min-content 60rem min-content min-content min-content repeat(
        6,
        min-content
      );
  }
}
