// COLOR VARIABLES
$color-primary2: #ff1716;
$color-primary: #ac250d;
$color-primary-home: #c21f2f;
$color-primary-light: #ff895c;
$color-primary-dark: #7a1010;

$color-secondary: #008fd8;
$color-hilight: #435e8e;
$color-map: #f3eed9;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-white: #fff;
$color-black: #000;
$color-yellow: #f3fc1f;
$color-yellow-light: #e9f00dbd;

// FONT VARIABLES

$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
